footer {
  background-color: lightgrey;
  padding-top: 2%;
  .foot {
    margin-left: 10%;
  }
  a {
    color: grey;
  }
  div {
    padding-left: 10%;
  }
  .footdown {
    background-color: darkgrey;
    padding-left: 20%;
  }
}
